{% extends 'base.html' %}

{% block content %}
	
	
	<div id="fh5co-main">
		<div class="container">

			<div class="row">

        <div id="fh5co-board" data-columns>
			{% for object in new %}
			<!--KUN.UZ NEWS-->
        	<div class="item" >
        		<div class="animate-box">
	        		<a href="{{object.image}}" class="image-popup fh5co-board-img"><img src="{{object.image}}" alt="img" height="188"></a>
        		</div>
        		<div class="fh5co-desc"><a href="{% url 'body' object.pk %}">{{object.title}}</a></div>
				<small class="fh5co-desc">Posted {{object.created|timesince}} ago</small>
        	</div>
        	{% endfor %}
			
        </div>
        </div>
		<hr><br/><br/>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
			{% if new.has_previous %}
			   <li class="page-item"><a class="page-link" href="?page=1">&laquo;First</a></li>
			   <li class="page-item"><a class="page-link" href="?page={{new.previous_page_number}}">Previous</a></li>
			{% endif %}
		    <li class="page-item disabled"><a href="#">Page {{ new.number }} of {{ new.paginator.num_pages }}</a></li>
			{% if new.has_next %}
			    <li class="page-item"><a class="page-link" href="?page={{ new.next_page_number }}">Next</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ new.paginator.num_pages }}">Last&raquo;</a></li>
			{% endif %}
		</ul>
	</nav>
       </div>
	   
	</div>
	<br/></br/>
	{% endblock content %}